*{
    margin: 0;
    padding: 0;
}

.titulo {
    
    background-color: chartreuse;
    text-align: center;

}

.categorias {

    display: inline-block;
    width: 20%;
    border: 1px solid black;
    height: 300px;
}

h2 {
    
    border: 1px solid black;
}